{% extends "_layout.html.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block  upper_navigation %}
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fa fa-fw fa-plus"></i>Add asset
        </a>
    </li>
{% endblock %}

{% block content %}
    <form action="#" method="post">
        {{ form_widget(formulier) }}
    </form>
{% endblock %}