{% extends "_layout.html.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block  upper_navigation %}
    <li class="nav-item">
        <a class="nav-link" href="/statuses/new">
            <i class="fa fa-fw fa-plus"></i>Add status
        </a>
    </li>
{% endblock %}

{% block content %}
    <table class="table table-hover table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>
                    <a href="/statuses/edit/{{ asset.id }}">
                        <li class="fa fa-edit"></li>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}